<!-- <div class="wrapper-gap"> -->
<!-- <div class="card"> -->
<form [formGroup]="flightForm" (ngSubmit)="onFlightFormSubmit()">
  <div class="form-group">
    <label for="flight-from">Flight From</label>
    <input type="text" id="flight-from" name="username" required placeholder="City or airport" value="McCarran Intl, US (LAS)" formControlName="flight_from" />
  </div>
  <div class="form-group">
    <label for="flight-to">Flight To</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
    </div>
  </div>

  <br /><br />
  <!-- <button type="button" [routerLink]="['/flight-list']">Search</button> -->
  <button type="submit" [disabled]="!flightForm.valid" class="btn-accent">SEARCH</button>
</form>
<!-- </div> -->
<!-- </div> -->
