<div class="card">
  <h3 style="margin: 0;">Signup</h3>
  <form>
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" name="username" required placeholder="Enter username">

    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" name="password" required placeholder="Enter password">

    <label for="signup-email">Email:</label>
    <input type="email" id="signup-email" name="email" required placeholder="Enter email">
    <br><br>
    <button type="button">Signup</button>
  </form>
</div>