<section class="subscriber-area">
  <div class="wrapper-gap">
    <div class="row">
      <div class="col-lg-7">
        <div class="section-heading">Subscribe to see Secret Deals</div>
      </div>
      <div class="col-lg-5">
        <div class="input-box">
          <label class="label-text text-white">Enter email address</label>
          <div class="form-group mb-0">
            <span class="la la-envelope form-icon"></span>
            <input class="form-control" type="email" name="email" placeholder="Email address" />
            <button class="btn btn-primary submit-btn" type="submit">
              Subscribe
            </button>
            <span class="font-size-14 pt-1 text-white-50"><i class="la la-lock mr-1"></i>Don't worry your information is
              safe
              with us.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>