<section class="footer-area">
  <div class="wrapper-gap">
    <div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-item">
            <div>
              <a class="foot__logo" [routerLink]="['/home']" href="javascript:void(0);">
                <img src="https://ampletravel.co/uploads/icon1.png" height="65" width="250" alt="logo" />
              </a>
            </div>
            <p class="footer__desc">
              <span style="
                color: rgb(51, 51, 51);
                font-family: sans-serif;
                font-size: 15px;
                text-align: justify;
              ">Welcome to AmplePoints! Like we always say, isn't it time to
                reward yourself and Amp Up Your World?</span>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-item">
            <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">
              Company
            </h4>
            <ul class="list-items list--items">
              <li>
                <a href="https://ampletravel.co/about">About us</a>
              </li>
              <li>
                <a href="https://ampletravel.co/support">Support</a>
              </li>
              <li>
                <a href="https://ampletravel.co/help-desk">Help Desk</a>
              </li>
              <li>
                <a href="https://ampletravel.co/contact">Contact Us</a>
              </li>
              <li>
                <a href="#" data-toggle="modal" data-target="#myModalEnquery">Enquery</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-item">
            <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">
              Other Links
            </h4>
            <ul class="list-items list--items">
              <li>
                <a href="https://ampletravel.co/hotel-search">Hotel Booking</a>
              </li>
              <li>
                <a href="https://ampletravel.co/flight-search">Flight Booking</a>
              </li>
              <li>
                <a href="https://ampletravel.co/tours-search">Tour Booking</a>
              </li>
              <li>
                <a href="https://ampletravel.co/transfers-search">Car Booking</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-item">
            <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">
              Subscribe now
            </h4>
            <p class="footer__desc pb-3">
              Subscribe for latest updates &amp; promotions
            </p>
            <div class="contact-form-action">
              <form action="https://ampletravel.co/enquiry" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="1L9kWF6aLTdBmnmoeVMKTQUaWo6uVss1sIkoEnT1" />
                <input type="hidden" name="redirectUrl" value="https://ampletravel.co/login" />
                <input type="hidden" name="type" value="subscribe" />
                <div class="input-box">
                  <label class="label-text">Enter email address</label>
                  <div class="form-group mb-0">
                    <span class="fa fa-envelope form-icon"> </span>
                    <input class="form-control" type="email" name="email" placeholder="Email address" />
                    <button class="btn btn-primary submit-btn" type="submit">
                      Go
                    </button>
                    <br />
                    <span>
                      <i class="fa fa-lock mr-1"> </i>Your information is safe
                      with us.</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <section class="info-area info-bg padding-top-90px padding-bottom-70px">
        <div>
          <div class="row">
            <div class="col-lg-4">
              <a href="https://ampletravel.co/contact" class="icon-box icon-layout-2 d-flex">
                <div class="info-icon flex-shrink-0 bg-rgb text-color-2">
                  <i class="fa fa-phone"> </i>
                </div>
                <div class="info-content">
                  <h4 class="info__title">Need Help? Contact us</h4>
                  <p class="info__desc">hello@amplepoints.com</p>
                  <p class="info__desc">+1(702) 466-8571</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="#" class="icon-box icon-layout-2 d-flex">
                <div class="info-icon flex-shrink-0 bg-rgb-2 text-color-3">
                  <i class="fa fa-money-bill"></i>
                </div>
                <div class="info-content">
                  <h4 class="info__title">Payments</h4>
                  <p class="info__desc">We Accept All Credit Cards Payment?</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="https://ampletravel.co/privacy-policy" class="icon-box icon-layout-2 d-flex">
                <div class="info-icon flex-shrink-0 bg-rgb-3 text-color-4">
                  <i class="fa fa-times"> </i>
                </div>
                <div class="info-content">
                  <h4 class="info__title">Cancel Policy</h4>
                  <p class="info__desc">Click Here to Know More</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="term-box footer-item">
            <ul class="list-items list--items d-flex align-items-center">
              <li>
                <a href="https://ampletravel.co/terms-and-condition">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="https://ampletravel.co/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-social-box text-right">
            <div>
              <a target="_blank" href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"> </i>
              </a>
              <a target="_blank" href="https://twitter.com/">
                <i class="fab fa-twitter"> </i>
              </a>
              <a target="_blank" href="https://www.instagram.com/?hl=en">
                <i class="fab fa-instagram"> </i>
              </a>
              <a target="_blank" href="https://www.linkedin.com/">
                <i class="fab fa-linkedin-in"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-block mt-4"></div>
    <div>
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="copy-right padding-top-30px">
            <p class="copy__desc">© Copyright 2021-2024.</p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="copy-right-content d-flex align-items-center justify-content-end padding-top-30px">
            <h3 class="title font-size-15 pr-2">We Accept</h3>
            <img src="https://ampletravel.co/images/payment-img.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>