<footer class="footer-section">
  <div class="wrapper-gap">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>ABC XYZ, US</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>99 999 999</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>mail&#64;info.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img src="https://ampletravel.co/uploads/logo1.png" class="img-fluid" alt="logo" style="filter: invert(1) grayscale(1) brightness(100)" />
              </a>
            </div>
            <div class="footer-text">
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a routerLink="/"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a routerLink="/"><i class="fab fa-twitter twitter-bg"></i></a>
              <a routerLink="/"><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/">about</a></li>
              <li><a routerLink="/">services</a></li>
              <li><a routerLink="/">portfolio</a></li>
              <li><a routerLink="/">Contact</a></li>
              <li><a routerLink="/">About us</a></li>
              <li><a routerLink="/">Our Services</a></li>
              <li><a routerLink="/">Expert Team</a></li>
              <li><a routerLink="/">Contact us</a></li>
              <li><a routerLink="/">Latest News</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form>
                <input type="text" placeholder="Email Address" />
                <button type="button"><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="wrapper-gap">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2024, All Right Reserved <a routerLink="/">Ample Travels</a></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/">Terms</a></li>
              <li><a routerLink="/">Privacy</a></li>
              <li><a routerLink="/">Policy</a></li>
              <li><a routerLink="/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
