<section class="home-search">
  <div class="wrapper-gap">
    <ul *ngIf="isHomePage" class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-white" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="false">
          <i class="fa-solid fa-hotel"></i>
          Hotel
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-white" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="true">
          <i class="fa fa-plane"></i>
          Flight
        </a>
      </li>
    </ul>
    <div id="pills-tabContent" class="tab-content card p-4">
      <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-md-3 col-12">
            <label for="h-dest_name">Where to?</label>
            <input id="h-dest_name" type="text" class="form-control" placeholder="Enter city or property">
          </div>
          <div class="col-md-3 col-12">
            <label>Check In</label>
            <input id="h-date_range-1" type="date" class="form-control" placeholder="Enter city or property"
              value="2024-11-23">
          </div>
          <div class="col-md-3 col-12">
            <label>Check Out</label>
            <input id="h-date_range-2" type="date" class="form-control" placeholder="Enter city or property"
              value="2024-11-25">
          </div>
          <div class="col-md-3 col-12">
            <label class="d-block">Guests</label>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                1 Room(s) - 1 Guest(s)
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">
                  Something else here
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <label class="d-block" style="opacity: 0; pointer-events: none">...</label>
            <button class="btn btn-primary">Search Now</button>
          </div>
        </div>
      </div>
      <div class="tab-pane fade  show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form [formGroup]="flightForm" (ngSubmit)="onFlightFormSubmit()">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="one_way" name="flight_type" class="custom-control-input">
                <label class="custom-control-label" for="one_way">One way</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="round_trip" name="flight_type" class="custom-control-input" checked>
                <label class="custom-control-label" for="round_trip">Round-trip</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="direct _flight" name="direct _flight" class="custom-control-input">
                <label class="custom-control-label" for="direct _flight">Direct Flight</label>
              </div>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <label>Flying from</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                </div>
                <input type="text" class="form-control" value="Talaveral La Real Arpt, ES (BJZ)"
                  formControlName="flight_from">
              </div>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <label>Flying to</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                </div>
                <input type="text" class="form-control" value="Los Angeles Intl Arpt, US (LAX)"
                  formControlName="flight_to">
              </div>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <label>Departing</label>
              <input type="date" class="form-control" placeholder="Enter city or property" value="2024-11-23"
                formControlName="flight_dept">
            </div>
            <div class="col-md-3 col-12 mb-3">
              <label>Return</label>
              <input type="date" class="form-control" placeholder="Enter city or property" value="2024-11-23"
                formControlName="flight_return">
            </div>
            <div class="col-md-3 col-12 mb-3 flight-guest-div">
              <label class="d-block">
                Traveller
              </label>
              <div>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle w-100 text-left"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>{{flightForm.value.flight_adult}}</span> Adult(s) -
                  <span>{{flightForm.value.flight_child}}</span> Children -
                  <span>{{flightForm.value.flight_infant}}</span> Infant(s)
                </button>
                <div class="dropdown-menu p-0">
                  <!-- (click)="stopPropagation($event)" -->
                  <div class="row p-2">
                    <div class="col">Adult:</div>
                    <div class="col">
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"
                            (click)="guestCounter($event, 'flight_adult', true)">+</span></div>
                        <input type="number" class="form-control" formControlName="flight_adult">
                        <div class="input-group-append"><span class="input-group-text"
                            (click)="guestCounter($event, 'flight_adult', false)">-</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="row p-2">
                    <div class="col">Child:</div>
                    <div class="col">
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"
                            (click)="guestCounter($event, 'flight_child', true)">+</span></div>
                        <input type="number" class="form-control" formControlName="flight_child">
                        <div class="input-group-append"><span class="input-group-text"
                            (click)="guestCounter($event, 'flight_child', false)">-</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="row p-2">
                    <div class="col">Infant:</div>
                    <div class="col">
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"
                            (click)="guestCounter($event, 'flight_infant', true)">+</span></div>
                        <input type="number" class="form-control" formControlName="flight_infant">
                        <div class="input-group-append"><span class="input-group-text"
                            (click)="guestCounter($event, 'flight_infant', false)">-</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 row">
                    <div class="col-12 text-right">
                      <button type="button" class="btn btn-primary btn-sm">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <label>Coach</label>
              <select class="form-control" name="cabin_class" id="cabin_class" formControlName="flight_coach">
                <option selected="true" value="economy">Economy</option>
                <option value="premium_economy">Premium</option>
                <option value="first">First Class</option>
                <option value="business">Business</option>
              </select>
            </div>
            <div class="col-md-3 col-12 mb-3">
              <label class="d-block" style="opacity: 0; pointer-events: none">...</label>
              <button type="submit" [disabled]="!flightForm.valid" class="btn btn-primary">Search Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



<div class="modal fade" [ngClass]="showFlightSearchModal ? 'show' : ''" id="flightModal" tabindex="-1" role="dialog"
  aria-labelledby="flightModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flightModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, obcaecati vitae saepe reiciendis
        exercitationem odit.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>