:root {
  --header-height: 100px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color: #5d646d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

/*---------------- wrapper-gap ----------------*/
.wrapper-gap {
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 576px) {
  .wrapper-gap {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wrapper-gap {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper-gap {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper-gap {
    max-width: 1200px;
  }
}

.btn {
  font-size: 15px;
}
.btn-primary {
  background-color: #f75b10 !important;
  border: 1px solid #f75b10 !important;
  color: #fff !important;
}
.btn-primary:hover {
  background-color: #fff !important;
  color: #f75b10 !important;
}
.nav-pills .nav-link {
  /* background: #fff; */
  /* color: #f75b10 !important; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f75b10 !important;
  /* border: 1px solid #f75b10 !important; */
  color: #fff !important;
}
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  background: #f8f9fa;
  height: var(--header-height);
}

body {
  padding-top: var(--header-height) !important;
}
