:root {
  --header-height: 100px;
  --accent-color: #f75b10;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color: #5d646d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

/*---------------- wrapper-gap ----------------*/
.wrapper-gap {
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 576px) {
  .wrapper-gap {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wrapper-gap {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wrapper-gap {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrapper-gap {
    max-width: 1200px;
  }
}

body {
  background: teal;
  padding: 10px;
}
.t-card {
  margin: 10px 0;
  padding: 10px;
  background: wheat;
  border: 2px solid;
  border-color: thistle;
}
