:root {
  --header-height: 100px;
  --accent-color: #f75b10;
}
html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  /* color: #fff; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
  background: #212121;
  background: #f4f4f4;
  color: #212121;
  font-size: 18px;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}
* {
  line-height: normal;
}
button,
input,
textarea,
select {
  outline: none !important;
}
a {
  /* color: #fff; */
  color: #212121;
}
a:hover {
  text-decoration: none;
}
/*---------------- wrapper-gap ----------------*/
.wrapper-gap {
  max-width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (max-width: 1200px) {
  .wrapper-gap {
    max-width: 90%;
  }
}
@media (max-width: 992px) {
  .wrapper-gap {
    max-width: 85%;
  }
}
@media (max-width: 768px) {
  .wrapper-gap {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .wrapper-gap {
    max-width: 95%;
  }
}
/*---------------- wrapper-gap ----------------*/
.card {
  margin: 10px 0;
  margin: 0;
  padding: 10px;
  background: #363636;
  background: #f4f4f4;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.15);
  border-radius: 8px;
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d;
  background: #fff;
}
button {
  background: #fff;
  padding: 5px 11px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: inherit;
  background: #5e5e5e;
  color: #fff;
}
footer a {
  color: #fff;
}
form input {
  display: inline-block;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
[routerlink] {
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 0;
}
button[disabled] {
  /* background: #5b5b5b; */
  cursor: not-allowed;
  opacity: 0.5;
}
.c-modal {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.c-modal:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
}
.c-modal-body {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #565656;
  border-radius: 3px;
}

ul {
  list-style: none;
}

.banner-img {
  background: url(https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  /* background: url(/assets/img/hero-img.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 100px 0; */
  background-position: center;
  margin-top: -70px;
  position: relative;
  /* height: 90vh; */
  /* padding-top: calc(34vh - 80px); */
  padding: 230px 0 200px;
  padding: 130px 0 100px;
}

.banner-img .banner-title {
  font-size: 50px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 12px #00000042;
}
.banner-img .card {
  /* background: #ffffff5c; */
  background: #fff;
  padding: 20px 20px 20px;
  border-radius: 10px;
}

.btn-accent {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  -webkit-user-select: none;
  user-select: none;
  padding: 13px 60px 11px;
  border-radius: 4px;
  text-transform: capitalize;
  color: var(--color-white-100) !important;
  background-color: var(--accent-color) !important;
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}

form label {
  font-size: 14px;
  color: #0d233e;
  cursor: pointer;
}

.input-group-text {
  background-color: transparent;
}

.input-group-text {
  cursor: pointer;
}
.w-100 {
  width: 100%;
}

/* material design color fix */
/* material design color fix */
/* material design color fix */

.mat-accent {
  --mat-option-selected-state-label-text-color: var(--accent-color);
}
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: var(--accent-color);
}
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: var(--accent-color);
}
.mat-accent .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: var(--accent-color);
}
.mat-accent .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: var(--accent-color);
}
.mat-mdc-progress-bar.mat-accent {
  --mdc-linear-progress-active-indicator-color: var(--accent-color);
}
.mat-mdc-form-field.mat-accent {
  --mdc-filled-text-field-caret-color: var(--accent-color);
  --mdc-filled-text-field-focus-active-indicator-color: var(--accent-color);
  --mdc-outlined-text-field-caret-color: var(--accent-color);
  --mdc-outlined-text-field-focus-outline-color: var(--accent-color);
}
.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-accent {
  --mdc-chip-elevated-container-color: var(--accent-color);
  --mdc-chip-elevated-disabled-container-color: var(--accent-color);
}
.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: var(--accent-color);
  --mdc-radio-selected-hover-icon-color: var(--accent-color);
  --mdc-radio-selected-icon-color: var(--accent-color);
  --mdc-radio-selected-pressed-icon-color: var(--accent-color);
  --mat-radio-checked-ripple-color: var(--accent-color);
}
.mat-mdc-slider.mat-accent {
  --mdc-slider-handle-color: var(--accent-color);
  --mdc-slider-focus-handle-color: var(--accent-color);
  --mdc-slider-hover-handle-color: var(--accent-color);
  --mdc-slider-active-track-color: var(--accent-color);
  --mdc-slider-inactive-track-color: var(--accent-color);
  --mdc-slider-with-tick-marks-inactive-container-color: var(--accent-color);
  --mat-mdc-slider-ripple-color: var(--accent-color);
}
.mat-accent .mdc-list-item__end {
  --mdc-radio-selected-focus-icon-color: var(--accent-color);
  --mdc-radio-selected-hover-icon-color: var(--accent-color);
  --mdc-radio-selected-icon-color: var(--accent-color);
  --mdc-radio-selected-pressed-icon-color: var(--accent-color);
}
.mat-mdc-list-option.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: var(--accent-color);
  --mdc-checkbox-selected-hover-icon-color: var(--accent-color);
  --mdc-checkbox-selected-icon-color: var(--accent-color);
  --mdc-checkbox-selected-pressed-icon-color: var(--accent-color);
  --mdc-checkbox-selected-focus-state-layer-color: var(--accent-color);
  --mdc-checkbox-selected-hover-state-layer-color: var(--accent-color);
  --mdc-checkbox-selected-pressed-state-layer-color: var(--accent-color);
}
.mat-mdc-tab-nav-bar.mat-accent {
  --mdc-tab-indicator-active-indicator-color: var(--accent-color);
  --mat-tab-header-active-label-text-color: var(--accent-color);
  --mat-tab-header-active-ripple-color: var(--accent-color);
  --mat-tab-header-inactive-ripple-color: var(--accent-color);
  --mat-tab-header-active-focus-label-text-color: var(--accent-color);
  --mat-tab-header-active-hover-label-text-color: var(--accent-color);
  --mat-tab-header-active-focus-indicator-color: var(--accent-color);
  --mat-tab-header-active-hover-indicator-color: var(--accent-color);
}
.mat-mdc-tab-nav-bar.mat-background-accent {
  --mat-tab-header-with-background-background-color: var(--accent-color);
}
html {
  --mdc-checkbox-selected-focus-icon-color: var(--accent-color);
  --mdc-checkbox-selected-hover-icon-color: var(--accent-color);
  --mdc-checkbox-selected-icon-color: var(--accent-color);
  --mdc-checkbox-selected-pressed-icon-color: var(--accent-color);
  --mdc-checkbox-selected-focus-state-layer-color: var(--accent-color);
  --mdc-checkbox-selected-hover-state-layer-color: var(--accent-color);
  --mdc-checkbox-selected-pressed-state-layer-color: var(--accent-color);
}
.mat-mdc-button.mat-accent {
  --mdc-text-button-label-text-color: var(--accent-color);
}
.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-container-color: var(--accent-color);
}
.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-container-color: var(--accent-color);
}
.mat-mdc-outlined-button.mat-accent {
  --mdc-outlined-button-label-text-color: var(--accent-color);
}
.mat-mdc-outlined-button.mat-accent {
  --mat-mdc-button-persistent-ripple-color: var(--accent-color);
}
.mat-mdc-icon-button.mat-accent {
  --mdc-icon-button-icon-color: var(--accent-color);
  --mat-mdc-button-persistent-ripple-color: var(--accent-color);
}
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: var(--accent-color);
}
.mat-mdc-snack-bar-container {
  --mat-snack-bar-button-color: var(--accent-color);
}
.mat-mdc-progress-spinner.mat-accent {
  --mdc-circular-progress-active-indicator-color: var(--accent-color);
}
.mat-badge-accent {
  --mat-badge-background-color: var(--accent-color);
}
.mat-datepicker-content.mat-accent {
  --mat-datepicker-calendar-date-selected-state-background-color: var(--accent-color);
}
.mat-datepicker-toggle-active.mat-accent {
  --mat-datepicker-toggle-active-state-icon-color: var(--accent-color);
}
.mat-icon.mat-accent {
  --mat-icon-color: var(--accent-color);
}
html .mat-step-header.mat-accent {
  --mat-stepper-header-selected-state-icon-background-color: var(--accent-color);
  --mat-stepper-header-done-state-icon-background-color: var(--accent-color);
  --mat-stepper-header-edit-state-icon-background-color: var(--accent-color);
}
.mat-toolbar.mat-accent {
  --mat-toolbar-container-background-color: var(--accent-color);
}
/* material design color fix */
/* material design color fix */
/* material design color fix */
