<header class="header" id="header" (window:resize)="onResize($event)">
  <!-- (scroll)="scrollHandler($event)" -->
  <nav class="navbar wrapper-gap">
    <a routerLink="/" class="brand">
      <img class="brand-img" src="https://ampletravel.co/uploads/logo1.png" alt="https://ampletravel.co/uploads/logo1.png" />
    </a>
    <div (click)="navMenu()" class="burger" id="burger" [ngClass]="isMenuOpen ? 'is-active' : ''">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>
    <div class="menu" id="menu" [ngClass]="isMenuOpen ? 'is-active' : ''">
      <ul class="menu-inner">
        <li class="menu-item">
          <a class="menu-link" routerLink="/hotel-search" routerLinkActive="router-is-active">Hotel Search</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" routerLink="/flight-search" routerLinkActive="router-is-active">Flight Search</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" routerLink="/login" routerLinkActive="router-is-active">Login</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" routerLink="/signup" routerLinkActive="router-is-active">Signup</a>
        </li>
      </ul>
    </div>
    <a href="#" class="menu-block">Account</a>
  </nav>
</header>
