<!-- <div class="card wrapper-gap" style="display: flex; justify-content: space-between;">
  <span routerLink="/">Navbar Icon</span>
  <div>
    <button type="button" routerLink="/">Home</button>
    <button type="button" routerLink="/hotel-search" routerLinkActive="is-active">Hotel Search</button>
    <button type="button" routerLink="/flight-search" routerLinkActive="is-active">Flight Search</button>
    <button type="button" routerLink="/login" routerLinkActive="is-active">Login</button>
    <button type="button" routerLink="/signup" routerLinkActive="is-active">Signup</button>
  </div>
</div> -->

<section class="navigation">
  <div class="nav-container wrapper-gap">
    <div class="brand">
      <a routerLink="/">
        <img src="https://ampletravel.co/uploads/logo1.png" alt="https://ampletravel.co/uploads/logo1.png">
      </a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/hotel-search" routerLinkActive="is-active">Hotel Search</a></li>
        <li><a routerLink="/flight-search" routerLinkActive="is-active">Flight Search</a></li>
        <li>
          <a href="#!">Services</a>
          <ul class="navbar-dropdown">
            <li>
              <a href="#!">Sass</a>
            </li>
            <li>
              <a href="#!">Less</a>
            </li>
            <li>
              <a href="#!">Stylus</a>
            </li>
          </ul>
        </li>
        <li><a routerLink="/login" routerLinkActive="is-active">Login</a></li>
        <li><a routerLink="/signup" routerLinkActive="is-active">Signup</a></li>
      </ul>
    </nav>
  </div>
</section>