<div class="card">
  <div>
    <button type="button" (click)="showSearchTab('hotel')"
      [ngClass]="!isFlightSearchShown ? 'search-is-active' : ''">Hotel
      Search</button>
    <button type="button" (click)="showSearchTab('flight')"
      [ngClass]="isFlightSearchShown ? 'search-is-active' : ''">Flight
      Search</button>
  </div>

  <app-hotel-search *ngIf="!isFlightSearchShown"></app-hotel-search>
  <app-flight-search *ngIf="isFlightSearchShown"></app-flight-search>
  <div>subscribe to email</div>
</div>