.home-search {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(https://ampletravel.co/uploads/b_image3.png);
  background-size: cover;
}
