<section class="home-search ">
  <div class="wrapper-gap">
    <!-- <div>
    <button type="button" class="btn btn-primary" [routerLink]="['/hotel-search']">
      <i class="fa-solid fa-hotel"></i>
      Hotels
    </button>
    <button type="button" class="btn btn-primary" [routerLink]="['/flight-search']">
      <i class="fa fa-plane"></i>
      Flights
    </button>
  </div> -->
    <!-- <router-outlet></router-outlet> -->


    <app-home-search></app-home-search>
  </div>
</section>

<app-subscribe-email></app-subscribe-email>